<div class="m-2">
    <div class="">
        <a href="#" class="badge badge-info box-shadow bg-hover-theme"><%= message.user.username%> </a>
    </div>
    <div class="message ml-1 box-shadow bg-light rounded">
        <%# single chat %>
        <div class="p-1"> 
            <%# This is the message
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. At perferendis atque enim adipisci cumque esse. Voluptatibus dolore est aperiam illum consequatur dignissimos nam. Adipisci recusandae veniam repudiandae. Repellendus, modi blanditiis!                                         %>
            <%= message.body %>
        </div>
    </div>
</div>